@using System;
@using System.Collections.Generic;
@using System.Linq;

@inject ContentService content

<div class="cells">
    @if (cells != null)
    {
        <Virtualize Context="cell" Items="@cells">
            @if (cell.Type == CellType.Code)
            {
                <CodeCell Content="@cell.Content" />
            }
            else
            {
                <TextCell Content="@cell.Content" />
            }
            <NewCell Position="@cell.Position" NotebookId="@NotebookId" />
        </Virtualize>
    }
</div>

@code {
    [Parameter]
    public string NotebookId { get; set; } = "_default_notebook";
    List<Cell> cells;
    protected override async Task OnInitializedAsync()
    {
        cells = await content.GetById(NotebookId);

        Console.WriteLine(cells);
        content.OnChange += StateHasChanged;
    }
}