@using System;
@using System.Collections.Generic;
@using System.Linq;

@inject NotebookService content

<div class="cells">
    @if (notebook != null && notebook.Cells != null)
    {
        <Virtualize Context="cell" Items="@notebook.Cells">
            @if (cell.Type == CellType.Code)
            {
                <CodeCell cell="@cell" />
            }
            else
            {
                <TextCell cell="@cell" />
            }
            <NewCell Position="@cell.Position" NotebookId="@NotebookId" />
        </Virtualize>
    }
</div>

@code {
    [Parameter]
    public string NotebookId { get; set; }
    Notebook notebook;
    protected override async Task OnInitializedAsync()
    {
        if (NotebookId != null)
        {
            notebook = await content.GetById(NotebookId);
        }
        else
        {
            notebook = await content.GetInitialContent();
        }

        content.OnChange += StateHasChanged;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("Just rendered....");
    }
}